.container{
  display: flex;
  justify-content: center;
  background-color: #68904D;
  padding: 20px;
  
}
button{
  
  color: #14471E;
  
  padding: 5px;
  margin: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 18px;
  background-color:#68904D ;
  
}
.btn{
  display: flex;
  justify-content: space-evenly;
  color:beige;
  padding: 10px;
}
h1{
  font-size: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #C8D2D1;
}
h2{
  color: #EE9B01;
  font-size: 28px;
}
p{
  color: #14471E;
  font-weight: bolder;
  padding: 2px;
  margin: 3px;
  font-size: 18px;
}

img{
  height: 400px;
  margin: 0 auto;
  
}